<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>cogratulations your account is activated!!!</h1>
    <p>Welcome to <%= title %></p>
    <h4>Please Login Here <a href="http://localhost:3400/login"></a></h4>
  </body>
</html>
